html {
    cursor: default;
    background: #f7f3f0;
    color: #0d0900;
    letter-spacing: -.015em;
}

body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #f7f3f0;
    position: relative;
}

#section1 {
    width: 100%;
    height: 580vh;
    position: absolute;
}

#section2 {
    position: absolute; top: 185%;
}

.first-page1 {
    height: 100%;
    width: 70%;
    position: absolute; right: 0;
}

.first-page2 {
    height: 100%;
    width: 30%;
    position: absolute; left: 0;
}

.central-page {
    display: flex;
    flex-direction: column;
    position: absolute; top: 0;
    margin: 0;
    padding: 0;
    margin-top: 30px;
}

.central-page .span-about {
    line-height: 10.88889vw;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Cabin', sans-serif;
    letter-spacing: -.05em;
    font-size: 13vw;
}

.web {
    margin-left: 40%;
}

.span-work-div {
    position: absolute; top: 340%;
}

.span-work {
    line-height: 10.88889vw;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Cabin', sans-serif;
    letter-spacing: -.05em;
    font-size: 13vw;
}

.div-span-contact {
    position: absolute; top: 580%;
}

.span-contact {
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Cabin', sans-serif;
    letter-spacing: -.05em;
    font-size: 13vw;
}

.ref-italie {
    position: absolute; right: -5%; top: 180%;
    transform: rotate(90deg);
    text-transform: uppercase;
    font-size: 0.9vw;
    font-family: 'Cabin', sans-serif;
}

.ref-projects {
    position: absolute; right: -5%; top: 347%;
    transform: rotate(90deg);
    text-transform: uppercase;
    font-size: 0.9vw;
    font-family: 'Cabin', sans-serif;
}

.profile {
    position: absolute; top: 259%; left: 1%;
    text-transform: uppercase;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: bold;
    font-size: 0.8vw;
    letter-spacing: 0.1em;
    color: #1C1C1C;
}

.presentation1 {
    display: block;
    position: absolute; top: 252%; left: 30.5%;
    font-size: 2.8vw;
    letter-spacing: -.05em;
    font-family: 'Cabin', sans-serif;
    color: #0d0900;
}

.presentation2 {
    display: block;
    position: absolute; top: 259%; left: 0.8%;
    font-size: 2.8vw;
    letter-spacing: -.05em;
    font-family: 'Cabin', sans-serif;
}

.presentation3 {
    display: block;
    position: absolute; top: 266%; left: 0.8%;
    font-size: 2.8vw;
    letter-spacing: -.05em;
    font-family: 'Cabin', sans-serif;
}

.presentation4 {
    display: block;
    position: absolute; top: 273%; left: 0.8%;
    font-size: 2.8vw;
    letter-spacing: -.05em;
    font-family: 'Cabin', sans-serif;
}

.presentation5 {
    display: block;
    position: absolute; top: 280%; left: 0.8%;
    font-size: 2.8vw;
    letter-spacing: -.05em;
    font-family: 'Cabin', sans-serif;
}

.name {
    position: absolute; top: 4vh; left: 8%;
    font-size: 2vw;
    font-family: 'Cabin', sans-serif;
    letter-spacing: -.05em;
}

.age {
    position: absolute; top: 40vh; left: 8%;
    font-size: 1.8vw;
    font-family: 'B612', sans-serif;
    letter-spacing: -.05em;
}

.age2 {
    position: absolute; top: 43vh; left: 8%;
    font-size: 1.8vw;
    font-family: 'Cabin', sans-serif;
    letter-spacing: -.05em;
}

.nav-menu {
    font-size: 2vw;
    font-family: 'B612', sans-serif;
    margin: 0;
    padding: 0;
    letter-spacing: -.02em;
}

.nav-menu nav {
    position: absolute; left: 0; top: 70vh;
}

.nav-menu li {
    list-style: none;
    overflow: hidden;
}

.nav-menu a {
    text-decoration: none;
    color: #0d0900;
}

.nav-menu a:hover {
    text-decoration: underline;
    list-style: none;
    border-bottom: 1px solid black;
}


#section1 .italie-image {
    height: auto;
    width: 45vw;
    position: absolute; right: 2%; top: 120%;
    -webkit-filter: sepia(100%);
	filter: sepia(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

#section1 img:hover {
    -webkit-filter: sepia(0);
	filter: sepia(0);
}

.project1 {
    height: 50%;
    width: 100%;
    border-top: 2px solid black;
    position: absolute; top: 395%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.project1-text {
    display: flex;
    flex-direction: column;
    position: absolute; top: 8%; left: 0;
    text-decoration: none;
    list-style: none;
    color: #0d0900;
    font-family: 'Cabin', sans-serif;
    font-size: 5vw;
    line-height: 5vw;
}

.project1-date {
    display: flex;
    flex-direction: column;
    position: absolute; top: 8%; right: 0;
    color: #0d0900;
    font-family: 'Cabin', sans-serif;
    font-size: 2vw;
    line-height: 2vw;
    text-align: right;
}

.project1-image {
    height: 80%;
    width: 20%;
    position: absolute; top: 8%; right: 15%;
    -webkit-filter: sepia(100%);
    filter: sepia(100%);
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.project2 {
    height: 50%;
    width: 100%;
    border-top: 2px solid black;
    position: absolute; top: 445%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.project2-text {
    display: flex;
    flex-direction: column;
    position: absolute; top: 8%; left: 0;
    text-decoration: none;
    list-style: none;
    color: #0d0900;
    font-family: 'Cabin', sans-serif;
    font-size: 5vw;
    line-height: 5vw;
}

.project2-date {
    display: flex;
    flex-direction: column;
    position: absolute; top: 8%; right: 0;
    color: #0d0900;
    font-family: 'Cabin', sans-serif;
    font-size: 2vw;
    line-height: 2vw;
    text-align: right;
}

.project2-image {
    height: 80%;
    width: 20%;
    position: absolute; top: 8%; right: 15%;
    -webkit-filter: sepia(100%);
    filter: sepia(100%);
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.mail {
    position: absolute; top: 620%; left: 30%;
    font-size: 4vw;
    text-decoration: none;
    list-style: none;
    color: #0d0900;
    font-family: 'Cabin', sans-serif;
    letter-spacing: -0.05em;
}

.mail:hover {
    text-decoration: none;
    list-style: none;
    opacity: 0.8;
}

.div-social {
    position: absolute; top: 640%; left: 10%;
    display: flex;
    flex-direction: column;
    font-family: 'Cabin', sans-serif;
    line-height: 3.2vw;
}

.div-social span {
    font-size: 3vw;
    font-weight: bold;
}

.div-social a {
    font-size: 2.5vw;
    text-decoration: none;
    color: #0d0900;
}

.div-social a:hover {
    text-decoration: underline;
}

.credits-name {
    position: absolute; top: 640%; left: 60%;
    font-size: 3vw;
    font-weight: bold;
    font-family: 'Cabin', sans-serif;
}

.credits {
    position: absolute; top: 647.5%; left: 60%;
    font-family: 'Cabin', sans-serif;
    font-size: 2.5vw;
    line-height: 3.2vw;
}

.rights {
    position: absolute; top: 730%; left: 35%;
    font-size: 1.2vw;
    font-family: 'Cabin', sans-serif;
}

.name-hidden {
    position: absolute; left: 20%; top: 170%;
    font-size: 2.5vw;
    font-family: 'Cabin', sans-serif;
    letter-spacing: -.05em;
    display: none;
}

.fixed {
    position: absolute; top: -70vh;
    position: fixed;
}

.no-fixed {
    position: absolute; top: 0;
}

@media screen and (max-width: 501px) {
    #section1 {
        display: flex;
        flex-direction: column;
    }

    .first-page2 {
        display: none;
        position: absolute;
    }
    #gauche {
        display: none;
    }
    .profile {
        position: absolute; left: 10%; top: 270%;
    }

    .first-page1 {
        width: 100%;
    }
    .central-page {
        position: absolute; right: 0;
        width: 100%;
        text-align: center;
        align-items: center;
    }
    #section1 .italie-image {
        display: flex;
        justify-content: center;
    }
    .presentation {
        position: absolute; left: 20%;
    }
    .project1 {
        width: 80%;
    }
    .project2 {
        width: 80%;
    }
    .name-hidden {
        display: block;
    }
  }